{% extends 'base.html' %}
{% block title %}
    Product List
{% endblock %}
{% block body %}
<a href="{{ url_for('logout') }}">Logout</a>
    Hello, {{ current_user.username or 'stranger' }}
    <h1>My awesome shop admin</h1>
    <ul>
        {% for p in products %}
        <li>{{p.name}} - {{p.price}} UAH</li>
        {% endfor %}
    </ul>
    <form action="/create-item">
        <input type="text" name="item_name">
        <input type="text" name="item_price">
        <input type="submit">
    </form>
{% endblock %}

